$theme-variables: (
        primary: #3a487f,
        search: #1f2b5a,
        button: #5d699a,
        footer: #f3f3f3,
        main: #ced1e0,
        description: #5e5e5e,
        input: #ced2e0,
        label: #bbbbbb,
        companyBg: #e7e9f3,
        breadColor: #7e7e7e,
        infoColor: #333333,
        addressColor: #666666,
        separatorColor: #cccccc,
        listItemColor: #505050,
        tabItemColor: #68749d,
        tabItemActiveColor: #5e5e5e,
        tabItemActiveBgColor: #fafbfc,
        tabItemActiveBorderColor: #344375
);
$fonts-sizes: (
        t3: 14px,
        t2: 13px,
        t1: 12px,
        title: 32px
);
$margins: (
        m6: 22px,
        m5: 18px,
        m4: 14px,
        m3: 9px,
        m2: 6px,
        m1: 4px
);
$paddings: (
        p8: 40px,
        p7: 32px,
        p6: 26px,
        p5: 22px,
        p4: 16px,
        p3: 10px,
        p2: 8px,
        p1: 5px
);
